<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}} I COULD NOT DEVOUR THIS{{else}} C'mon, i Devoured this. {{/if}}
	</button>

	<button class="remove-burger" data-id="{{this.id}}">I'll pass on this Burger</button>
</li>